#board {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}

#clearBtn, #submitBtn {
  float: right;
  margin-top: 20px;
  margin-left: 20px;
  border: 2px solid #aaa;
}

.title {
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
}
