.tile {
  border: 1px solid #ccc;
  text-align: center;
  padding: 12px 0;
  font-family: sans-serif;
}

.tile input {
  font-size: 16pt;
  width: 12px;
  text-align: center;
  border: 0;
  outline: 0;
}

.tile-selected, .tile-selected input {
  background-color: #e3e3e3;
}

.tile-top {
  border-top: 2px solid #000;
}

.tile-bottom {
  border-bottom: 2px solid #000;
}

.tile-left {
  border-left: 2px solid #000;
}

.tile-right {
  border-right: 2px solid #000;
}